.match {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px auto;
    border: solid 1px;
    text-decoration: none;
    color: black;
    
    &__teams {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    &__score-fav-wrapper {
        display: flex;
        width: 50px;
        justify-content: space-between;
    }
    &__favourite-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__favourite-img {
        background-color: yellow;
        width: 20px;
        height: 20px;

    }
}