@font-face {
    font-family: "martel-bold";
    src: url('../assets/fonts/Martel-Sans/MartelSans-Bold.ttf');
}

@font-face {
    font-family: "martel-light";
    src: url('../assets/fonts/Martel-Sans/MartelSans-Light.ttf');
}

@font-face {
    font-family: "martel-regular";
    src: url('../assets/fonts/Martel-Sans/MartelSans-Regular.ttf');
}

@font-face {
    font-family: "kanit-bold";
    src: url('../assets/fonts/Kanit/Kanit-Bold.ttf');
}

@font-face {
    font-family: "kanit-extra-bold";
    src: url('../assets/fonts/Kanit/Kanit-ExtraBold.ttf');
}

@font-face {
    font-family: "nunito-bold";
    src: url('../assets/fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: "Nunito-regular";
    src: url('../assets/fonts/Nunito/Nunito-Regular.ttf');
}