// COLORS
$dark-grey-color: #323232;
$mercury: #e1e1e1;
$white-color: #ffffff;
$background-white: #fafafa;
$score-blue: #292f3c;
$nav-blue: #101b29;
$dark-blue: #212632;
$green: #00FF5B;
$blue: #0014FF;


// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$mac-breakpoint: 1440px;
